audio{
	visibility: hidden;
	opacity: 0;
}

.text-center{
	text-align: center;
}

.shadow {
	box-shadow: 0px 8px 34px 0px #0000001a;
	padding: 15px;
	border-radius: 16px;
}

.bg-white{
	background:white;
}

.bg-blue{
	background:var(--blue-color) !important;
}

.text-blue{
	color:var(--blue-color);
}

.text-blue2{
	color:var(--blue-color2);
}

.text-gray{
	color:#757575;
}

.text-red{
	color:#ff575f;
}

.text-black{
	color:#000;
}

.text-left{
	text-align: left;
}

.primary-font{
	font-family: var(--primary-font);
}

a.btn{
	font-family: 'brandon_grotesquebold';
	border-radius: 30px;
	padding:0px 10px;
}

.cursor-pointer{
	cursor: pointer;
}

.user-actions {
    position: absolute;
    right: 15px;
    top: 23px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.options{
	position: absolute;
    left: 15px;
    top: 15px; 
    display: flex;
    align-items: center;   
    gap: 10px;
}

.audio button{
	background: none;
	border:none;	
	width:auto;
    height:40px;    
    position: relative;
    padding-right:50px;
}

.audio button svg{
	width:40px;
	height:40px;
	position: absolute;
	top:0px;
	right:0px;
}

.small-text, .small-text *{
	font-size:10pt;
	line-height: 12pt;
	word-break: break-all;
}

.close-btn{
	cursor: pointer;
	width:49px;
	height:49px;
	position: absolute;
	right:-20px;
	top:-20px;
	background:url(../images/close.svg) no-repeat center center / 49px 49px;
}

.uppercase{
	text-transform: uppercase;
}

.question{
	line-height: 25px;
}

.question input[type='radio']{
	accent-color:var(--blue-color);
}

.hospital .level .color, .hospital .level:hover .gray{
	opacity: 0;
	transition: opacity .5s ease-out;
}

.hospital .level .gray, .hospital .level:hover .color{
	opacity: 1;
	transition: opacity .5s ease-out;
}

.mr-3{
	margin-right:5px;
}

.user-login{
	padding:15px 0px;
	border-top:1px var(--gray-color) solid;
	border-bottom:1px var(--gray-color) solid;
	margin:15px -3rem;

}

@media all and (max-width: 767px){
	.audio button{		
	    padding-right:33px;
	}
}